{% load static %}
{% load vnpfilters %}

<div class="table-responsive">
    <table class="table text-white">
        <tr>
            <th class="d-none d-sm-block">Image</th>
            <th>Product</th>
            <th>Var.</th>
            <th>Unit price</th>
            <th>Qty</th>
            <th>Total</th>
            <th>Delete?</th>
        </tr>

        {% for line in cart.values %}
        <form action="{%url 'products:removecart'%}" method="get" name="delete-form">
            <input type="hidden" name="vid" value="{{line.variation_id}}">
            <tr>
                <td class="d-none d-sm-block">
                    <a href="{% url 'products:detail' line.slug %}">
                        <img class="cart-img" src="{% get_media_prefix %}{{ line.image }}">
                    </a>
                </td>
                <td>
                    <a class='text-white mr-4' href="{% url 'products:detail' line.slug %}">
                        {{ line.product_name }}
                    </a>
                </td>
                <td>{{line.variation_name}}</td>

                {% if line.promo_unit_price %}
                <td>{{line.promo_unit_price|price_format}}</td>
                {% else %}
                <td>{{line.unit_price|price_format}}</td>
                {% endif %}

                <td itemsQTY="{{line.quantity}}" name="item-qty">{{line.quantity}}x</td>

                {% if line.promo_quantitative_price %}
                <td class="price-format-size">{{line.promo_quantitative_price|price_format}}</td>
                {% else %}
                <td class="price-format-size">{{line.quantitative_price|price_format}}</td>
                {% endif %}
                <td>
                    <div class="row justify-content-around" id="btn-delete-div">
                        <select name="del-qty" id="delete-qty" class="form-control-sm"></select>
                        <div class="btn btn-outline-danger" name="button-delete-item" id="button-delete-item">
                            <i class="fa fa-trash" name="icon-delete-x"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </form>
        {% endfor %}

    </table>
</div>