{% load static %}
{% load vnpfilters %}

<div class="block-outside" id="block-outside" onclick="toggleMenu()"></div>
<nav class="nav-header navbar navbar-dark main-color navbar-expand-lg">
    <div class="nav-header-width">
        <div class="nav-header-flex">
            <a class="navbar-brand" href="{% url 'products:list' %}"> <img src="../static/android-chrome-192x192.png"
                    alt="logo site image">
            </a>

            <button class="button-border d-lg-none" type="button" onclick="toggleMenu()">
                <div class="bars">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </button>

            <div id="toggleMenu" class="d-none d-lg-block" onclick="toggleMenu()">Categories</div>

            <nav id="menu" class="menu">
                <div class="close-menu" onclick="toggleMenu()"></div>
                <ul>
                    <li>
                        <a href="{% url 'products:list' %}">
                            Home
                        </a>
                    </li>
                    <li><a href="#">Link</a></li>
                    <li onmouseover="dropRight()" onmouseout="dropRight()">
                        <a href="#" role="button" data-toggle="dropdown">
                            DropRight</a>
                        <div class="intern-menu second-color" id="navbarDropleft">
                            <a href="#">Action</a>
                            <a href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a href="#">Something else here</a>
                        </div>
                    </li>
                    <li>
                        <a class="disabled" href="#">Disabled</a>
                    </li>
                    <li>
                        <a href="{% url 'products:cart' %}">
                            Cart
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="search-item">
                {% if request.session.cart %}
                <a class="" href="{% url 'products:cart' %}">
                    <strong>{{request.session.cart|cart_total_qty}}x</strong>
                    <span class="fas fa-shopping-cart"></span>
                </a>
                {% endif %}

                <form class="form-inline">
                    <input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn second-color my-2 my-sm-0 text-white" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>