{% load static %}
{% load vnpfilters %}

<div class="block-outside" id="block-outside" onclick="toggleMenu()"></div>
<nav class="nav-header navbar navbar-dark main-color navbar-expand-lg">
    <div class="nav-header-width">
        <div class="nav-header-flex">
            <a class="navbar-brand" href="{% url 'products:list' %}"> <img src="/static/android-chrome-192x192.png"
                    alt="logo site image">
            </a>

            <button class="button-border d-lg-none" type="button" onclick="toggleMenu()">
                <div class="bars">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </button>

            <div id="toggleMenu" class="d-none d-lg-block" onclick="toggleMenu()">Categories</div>

            <nav id="menu" class="menu">
                <div class="close-menu" onclick="toggleMenu()"></div>
                <ul>
                    <li>
                        <a href="{% url 'products:list' %}">
                            Home
                        </a>
                    </li>
                    <li><a href="#">Tecnology</a></li>
                    <li><a href="#">Furnitures</a></li>
                    <li><a href="#">Clothes</a></li>
                    <li onmouseover="dropRight()" onmouseout="dropRight()">
                        <a href="#" role="button" data-toggle="dropdown">
                            Profile</a>
                        <div class="intern-menu second-color" id="navbarDropleft">
                            <a href="{% url 'orders:list' %}">My Orders</a>
                            <a href="{% url 'profiles:create' %}">Update Profile</a>
                            <a href="{% url 'profiles:address' %}">Update Address</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'profiles:logout' %}">Logout</a>
                        </div>
                    </li>
                    <li>
                        <a class="disabled" href="#">Disabled</a>
                    </li>
                    <li>
                        <a href="{% url 'products:cart' %}">
                            Cart
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="search-item">
                {% if request.session.cart %}
                <a class="cart-draw" href="{% url 'products:cart' %}">
                    <strong>{{request.session.cart|cart_total_qty}}x</strong>
                    <span class="fas fa-shopping-cart"></span>
                </a>
                {% endif %}
                <div class="flex-search">

                    <form class="form-inline" method="get" action="{% url 'products:search' %}">
                        <input name="term" value="{{ request.GET.term }}" class="form-control mr-sm-3" type="search"
                            placeholder="Search" aria-label="Search">
                        <button class="btn btn-size second-color my-2 my-sm-0 text-white" type="submit">Search</button>
                    </form>

                    {% if request.user.is_authenticated %}
                    <div class="mt-3 profile-btn" onmouseover="dropDown()" onmouseout="dropDown()">
                        <button class='btn second-color btn-size' type="button">
                            Profile &#9662
                        </button>
                        <div class="profile-intern-menu second-color" id="profileDropDown">
                            <a href="{% url 'orders:list' %}">My Orders</a>
                            <a href="{% url 'profiles:create' %}">Update Profile</a>
                            <a href="{% url 'profiles:address' %}">Update Address</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'profiles:logout' %}">Logout</a>
                        </div>
                    </div>

                    {% else %}

                    <button class='btn second-color btn-size mt-3 login-button' type="button">
                        <a href="{% url 'profiles:create' %}">Login</a>
                    </button>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</nav>