{% load static %}
{% load vnpfilters %}
<nav class="nav-header main-color navbar-expand-lg px-2 shadow-all">
    <div class="nav-header-width">
        <div class="nav-header-flex">

            <a class="navbar-brand" href="{% url 'products:list' %}"> <img src="{% static 'VNP.png' %}"
                    alt="logo site image">
            </a>

            <div class="flex-search">
                <div class="d-flex" onclick="toggleSearch()">
                    <img data-src="//d2az8otjr0j19j.cloudfront.net/templates/001/078/806/twig/static/images/icon-search.png?84488646"
                        src="//d2az8otjr0j19j.cloudfront.net/templates/001/078/806/twig/static/images/icon-search.png?84488646"
                        alt class="img-fluid lazyloaded" width="24" height="24">
                    <span class="d-none d-md-block">Click here to search</span>
                </div>
                <form id="nav-search-form" class="row" method="get" action="{% url 'products:search' %}">
                    <div id="nav-search-div">
                        <img data-src="//d2az8otjr0j19j.cloudfront.net/templates/001/078/806/twig/static/images/icon-search.png?84488646"
                            src="//d2az8otjr0j19j.cloudfront.net/templates/001/078/806/twig/static/images/icon-search.png?84488646"
                            alt class="img-fluid lazyloaded" width="24" height="24">
                        <input name="term" id="nav-search-input" value="{{ request.GET.term }}" class="form-control"
                            type="search" placeholder="Type here what you are looking for" aria-label="Search">
                        <button id="nav-search-btn" class="btn btn-size btn-danger d-none ml-md-2 text-white"
                            type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div class="d-flex flex-column align-items-center">
                <button class="btn btn-outline-danger btn-sm btn-size d-lg-none mb-2" type="button"
                    onclick="toggleMenu()">
                    <div class="bars">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </button>
                <button id="toggleMenu" class="btn btn-outline-danger btn-sm text-white d-none d-lg-block mb-2"
                    type="button" onclick="toggleMenu()">Categories</button>

                <div class="profile-menu">
                    {% if request.session.cart %}
                    <a class="cart-draw" href="{% url 'products:cart' %}">
                        <strong>{{request.session.cart|cart_total_qty}}x</strong>
                        <span class="fas fa-shopping-cart"></span>
                    </a>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <div class="profile-btn" onmouseover="dropDown()" onmouseout="dropDown()">
                        <button class='btn btn-outline-danger btn-sm btn-size text-white d-none d-sm-block'
                            type="button">
                            Profile &#9662
                        </button>
                        <button class='btn btn-outline-danger btn-sm btn-size btn-sm-size text-white d-sm-none'
                            type="button">
                            <i class="fa fa-user"></i>
                        </button>
                        <div class="profile-intern-menu main-color" id="profileDropDown">
                            <a href="{% url 'orders:list' %}">My Orders</a>
                            <a href="{% url 'profiles:create' %}">Update Profile</a>
                            <a href="{% url 'profiles:address' %}">Update Address</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'profiles:logout' %}">Logout</a>
                        </div>
                    </div>

                    {% else %}
                    <button id="nav-login"
                        class="btn btn-outline-danger btn-sm btn-size btn-sm-size text-white mr-lg-0 p-0" type="button">
                        <a href="{% url 'profiles:create' %}" class="justify-content-center">
                            <i class="fa fa-user"></i>
                            <span class="d-none d-lg-block ml-2">Login</span>
                        </a>
                    </button>
                    {% endif %}
                </div>

            </div>
            <nav id="menu" class="menu">
                <div class="close-menu" onclick="toggleMenu()"></div>
                <ul>
                    <li>
                        <a href="{% url 'products:list' %}">
                            Home
                        </a>
                    </li>
                    <li><a href="{% url 'products:category' 'T' %}">Technology</a></li>
                    <li><a href="{% url 'products:category' 'F' %}">Furnitures</a></li>
                    <li><a href="{% url 'products:category' 'C' %}">Clothes</a></li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li onmouseover="dropRight()" onmouseout="dropRight()">
                        <a href="#" role="button" data-toggle="dropdown">
                            Profile</a>
                        <div class="intern-menu second-color" id="navbarDropleft">
                            <a href="{% url 'orders:list' %}">My Orders</a>
                            <a href="{% url 'profiles:create' %}">Update Profile</a>
                            <a href="{% url 'profiles:address' %}">Update Address</a>
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'profiles:logout' %}">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'profiles:create' %}">
                            Login</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'products:cart' %}">
                            Cart
                        </a>
                    </li>
                </ul>
            </nav>


        </div>

    </div>
</nav>
<div class="block-outside" id="block-outside" onclick="toggleMenu()"></div>
<div class="block-outside" id="block-search" onclick="toggleSearch()"></div>