{% extends 'base.html' %}


{% block title %}Addresses from {{ user }} | {% endblock %}

{% block content %}

<div class="row text-color-two">
    <div class="col">
        <h3 class="mb-4">Adresses from {{user}}</h3>
        <p>Here are all your addresses created</p>

        <div class="table-responsive">
            <table class="table table-striped table-hover address-table">
                <thead>
                    <tr class="text-center">
                        <th scope="col"></th>
                        <th scope="col">CEP</th>
                        <th scope="col">Address</th>
                        <th scope="col">Number</th>
                        <th scope="col">Neighborhood</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for address in addresses %}
                    <tr class="text-center">
                        <td class="button-table-start">
                            <form action="{% url 'profiles:delete' address.id %}" method="get">
                                <button type="submit" class="btn btn-danger text-white shadow-all">
                                    Delete <input type="hidden" name="pk" value={{address.id}}>
                                </button>
                            </form>
                        </td>
                        <td scope="row">{{address.cep}}</td>
                        <td>{{address.address}}</td>
                        <td>{{address.number}}</td>
                        <td>{{address.neighborhood}}</td>
                        <td>{{address.city}}</td>
                        <td>{{address.state}}</td>
                        <td class="button-table-end">
                            <form action="{% url 'profiles:addressdetails' address.id %}" method="get">
                                <button type="submit" class="btn main-color text-white shadow-all">
                                    Edit <i class="fas fa-search-plus ml-2"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="row">
            <div class="col ">
                <button type="button" class='btn new-address btn-danger mt-3 float-right shadow-all'><a
                        href="{% url 'profiles:addresscreate' %}">+ New
                        Address</a></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}