{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">

    {% if not request.user.is_authenticated %}
    <div class="col-lg">
        <h1>Login</h1>
    </div>
    {% endif %}

    <div class="col-lg-6 m-auto">

        {% block updatetitle %}
        <h1>Register</h1>
        {% endblock updatetitle %}
        
        <form action="" method="post">
            {% csrf_token %}
        {{ userform|crispy }}
        {{ profileform|crispy }}
        {{ addressform|crispy }}

        {% block updatebutton %}
        <div class="row">
            <div class="col">
                <button type="submit" class='btn main-color btn-block btn-lg'>Send</button>
            </div>
        </div>
        {% endblock updatebutton %}
        </form>
    </div>
</div>

{% endblock %}