<!doctype html>
<html lang="en">

<head>
    {% include 'partials/_head.html' %}
    <title>{% block title %}{% endblock %} E-commerce</title>
</head>

<body>
    {% include 'partials/_nav.html' %}

    <main class="container mt-4 mb-4">
        {% include 'partials/_messages.html' %}
        {% block content %}{% endblock content %}

        <div class="row mt-3">
            <div class="col">
                {% include 'partials/_pagination.html' %}
            </div>
        </div>

    </main>

    {% include 'partials/_footer.html' %}
</body>

</html>