{% extends 'base.html' %}
{% load vnpfilters %}

{% block title %} Order from {{ user.first_name }} | {% endblock %}

{% block content %}
<div class="row">
    <div class="col text-color-two">
        <h3 class="mb-4">Orders from {{user}}</h3>
        <p>Here are all your orders placed in the store.</p>

        <div class="table-responsive rounded-lg">
            <table class="table table-striped">
                <thead class="main-color">
                    <tr>
                        <th scope="col">Order</th>
                        <th scope="col">Total</th>
                        <th scope="col">Qty of Items</th>
                        <th scope="col">Status</th>
                        <th scope="col">More Details</th>
                    </tr>
                </thead>

                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td scope="row">{{order}}</td>
                        <td>{{order.total|price_format}}</td>
                        <td>{{order.total_qty}}</td>
                        <td>{{order.get_status_display}}</td>
                        <td>
                            <a href="{% url 'orders:details' order.id %}">
                                Open <i class="fas fa-search-plus ml-2"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

{% endblock content %}