{% extends 'base.html' %}
{% load vnpfilters %}

{% block title %}Cart | {% endblock %}

{% block content %}

{% if cart %}

<div class="row mt-3">
    <div class="col text-white">
        <h3>Shopping cart</h3>
        <p class="lead">The products, quantities and prices you have chosen.</p>

        {% include 'partials/_cart.html' %}

    </div>
</div>


<div class="row mt-3">
    <div class="col-lg text-white">
        <p class='lead'>Total on cart</p>

        <div class='table-responsive'>
            <table class="table text-white">
                <tr>
                    <td class="font-weight-bold">Total</td>
                    <td>{{ cart|cart_totals|price_format}}</td>
                </tr>
            </table>
            <p> <span class="fas fa-info-circle"></span> Shipping costs will be calculated on Checkout.
            </p>
        </div>
    </div>
    <div class="col-lg mt-auto">
        {% if request.user.is_authenticated %}
        <a class="btn btn-lg btn-block main-color" href="{% url 'products:checkout' %}">
            Proceed to Checkout
        </a>
        {% else %}
        <a class="btn btn-lg btn-block main-color" href="{% url 'profiles:create' %}">
            Proceed to Checkout
        </a>
        {% endif %}
    </div>

</div>

{% else %}

<div class="row mt-3">
    <div class="col text-white">
        <h3>Empty Cart</h3>
        <p class="lead">No products on your cart.</p>
    </div>
</div>

{% endif %}

{% endblock content %}