{% extends 'base.html' %}
{% load vnpfilters %}

{% block title %}Checkout | {% endblock %}

{% block content %}
<div class="card shadow-all rounded-lg">
    <div class="col-12 card-header">
        <h2 class="ml-3 mt-2 text-color-two space ">Checkout</h2>
    </div>
    <form action="{% url 'orders:saveorder' %}" method="get" class="row justify-content-around">
        <div class="col-md-5 text-color-two">
            <div class="card border-0 pb-0 pt-3 px-3 p-md-3">
                <div class="card-body pb-0 pt-3 px-3 p-md-3">
                    <div class="row mt-4">
                        <div class="col">
                            <p class="text-muted mb-2">USER DETAILS</p>
                            <hr class="mt-0">
                            <p>If you need to edit <a href="{% url 'profiles:create' %}">click here</a></p>
                        </div>
                    </div>
                    <dl class="row">
                        <dt class="col-4 col-sm-3 col-md-4 col-lg-3">Name:</dt>
                        <dd class="col-8 col-sm-9 col-md-8 col-lg-9 p-0"> {{user.first_name}} {{user.last_name}}</dd>
                        <dt class="col-4 col-sm-3 col-md-4 col-lg-3">CPF:</dt>
                        <dd class="col-8 col-sm-9 col-md-8 col-lg-9 p-0">{{user.profile.cpf}}</dd>
                        <dt class="col-4 col-sm-3 col-md-4 col-lg-3">Birth date:</dt>
                        <dd class="col-8 col-sm-9 col-md-8 col-lg-9 p-0">{{user.profile.birth_date}}</dd>
                        <dt class="col-4 col-sm-3 col-md-4 col-lg-3">E-mail:</dt>
                        <dd class="col-8 col-sm-9 col-md-8 col-lg-9 p-0">{{user.email}}</dd>
                    </dl>

                    <div class="row mt-3">
                        <div class="col">
                            <p class="text-muted mb-2">SHIPPING DETAILS</p>
                            <hr class="mt-0">
                            <p>If you need to edit, <a href="{% url 'profiles:address' %}">click here</a></p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-auto mt-0">
                            <div class="row">
                                <div class="col">
                                    <select class="custom-select custom-select-sm" id="inputSelect"
                                        name="addressSelected" onchange="inputSelector()" data-width="auto">
                                        <option value="" id='empty-address' disabled selected>Select an Address
                                        </option>
                                        {% for address in addresses %}
                                        <option value="{{address.id}}">{{address.address}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-none" id="displayInput">
                                <dl class="row mt-3">
                                    <dt class="col-4 col-sm-3 col-md-5 col-lg-4">Address:</dt>
                                    <dd class="col-8 col-sm-9 col-md-7 col-lg-8 p-0" id="g-address"></dd>

                                    <dt class="col-4 col-sm-3 col-md-5 col-lg-4">City:</dt>
                                    <dd class="col-8 col-sm-9 col-md-7 col-lg-8 p-0" id="g-city"></dd>

                                    <dt class="col-4 col-sm-3 col-md-5 col-lg-4">CEP:</dt>
                                    <dd class="col-8 col-sm-9 col-md-7 col-lg-8 p-0" id="g-cep"></dd>
                                </dl>

                                <dl class="row mt-3 mb-0">
                                    <dt class="col-4 col-sm-3 col-md-5 col-lg-4">Delivery price:</dt>
                                    <dd class="col-8 col-sm-9 col-md-7 col-lg-8 p-0" id="shipping-price"></dd>
                                </dl>

                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <p class="text-muted mb-2">PAYMENT DETAILS</p>
                            <hr class="mt-0">
                        </div>
                    </div>
                    <div class="row text-danger px-3">
                        <p>Payment methods are disabled for now, use the card below</p>
                    </div>
                    <div class="form-group checkout-card">
                        <label for="CARDNAME" class="small text-muted mb-1">NAME ON CARD</label>
                        <input type="text" class="form-control form-control-sm" name="CARDNAME" id="CARDNAME"
                            aria-describedby="helpId" value="USE THIS CARD" disabled>
                    </div>
                    <div class="form-group checkout-card">
                        <label for="CARDNUMBER" class="small text-muted mb-1">CARD NUMBER</label>
                        <input type="text" class="form-control form-control-sm" name="CARDNUMBER" id="CARDNUMBER"
                            aria-describedby="helpId" value="4534 5555 5555 5555" disabled>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-sm-6 pr-sm-2">
                            <div class="form-group checkout-card">
                                <label for="CARDVALID" class="small text-muted mb-1">VALID THROUGH</label>
                                <input type="text" class="form-control form-control-sm" name="CARDVALID" id="CARDVALID"
                                    aria-describedby="helpId" value="06/28" disabled>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group checkout-card">
                                <label for="CARDCODE" class="small text-muted mb-1">CVC CODE</label>
                                <input type="text" class="form-control form-control-sm" name="CARDCODE" id="CARDCODE"
                                    aria-describedby="helpId" value="183" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 text-color-two">
            <div class="card border-0 pt-0 pb-3 px-3 p-md-3">
                <div class="card-body pt-0 pb-3 px-3 p-md-3">
                    <div class="row mt-4">
                        <div class="col">
                            <p class="text-muted mb-2">YOUR ORDER</p>
                            <hr class="mt-0">
                        </div>
                    </div>

                    {% include 'partials/_cart.html' %}
                    <hr class="mt-0">
                    <ul class="p-0">
                        <li
                            class="d-flex justify-content-between align-items-center border-0 px-0 py-2 font-weight-bold">
                            Products
                            <span>{{ cart|cart_totals|price_format}}</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center px-0 py-2 font-weight-bold">
                            Shipping
                            <span id="shipping-total">-</span>
                            <input type="hidden" name="total-cart" value="{{cart|cart_totals}}">
                        </li>
                        <li
                            class="d-flex justify-content-between align-items-center border-0 px-0 py-2 mb-3 font-weight-bold">
                            <div class="mr-3">
                                Total amount
                                <p class="mb-0">(including VAT)</p>
                            </div>
                            <span id="cart-total">{{cart|cart_totals|price_format}}</span>
                        </li>
                    </ul>
                    <div class="row mb-md-5">
                        <div class="col">
                            <button type="submit" class="btn btn-danger btn-lg btn-block shadow-all">
                                Place order and pay
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>
</div>
{% endblock %}