{% extends 'base.html' %}
{% load vnpfilters %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card-columns grid-card">

            {% for product in products %}
            <div class="card second-color flex-card">

                {% if product.image %}
                <a class="card-img-block" href="{% url 'products:detail' product.slug %}">
                    <img class="card-img-top card-img-size" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% endif %}

                <div class="card-body text-justify">
                    <h5 class="card-title text-center">{{product.name}}</h5>
                    <p class="card-text">{{product.summary}}</p>
                </div>
                <div class="container product-price-block text-center">

                    {% if product.promo_mrkt_price %}
                    <span class="product-price">
                        {{product.promo_mrkt_price|price_format}}
                    </span>
                    <span class="product-old-price text-muted">
                        {{product.mrkt_price|price_format}}
                    </span>
                    {% else %}
                    <span class="product-price">
                        {{product.mrkt_price|price_format}}
                    </span>
                    {% endif %}

                </div>
                <div class="card-footer bg-transparent border-top-light-custom text-center">
                    <a href="{% url 'products:detail' product.slug %}"
                        class="btn third-color text-white btn-sm m-1 btn-block">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Buy
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}